

.bgImage{
    background-image: url('./../../assets/images/cool-background.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
   // background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.blackBtn{
    background-color: black;
    color: #fff;
    border: none; 
    min-height: 40px;   
}

.greyBtn{
    background-color: darkorange;
    color: #fff;
    border: none; 
    min-height: 40px;
}

.fullWidth{
    width: 100%;
}

@media (max-width:960px){
    .mb-view{
        overflow-x: auto;
        flex-wrap: nowrap;
    }
   .blackBtn{
    font-size: 11px;
   }
    .greyBtn{
        font-size: 11px;
    }
    .bgImage{
        padding-top: 96px;
    }
    
}