h1{
    text-transform: uppercase;
    background: linear-gradient(to right, #f32170,
    #ff6b08, #cf23cf, #eedd44);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
                    background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
           // text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
            font-size: 50px;
          font-weight: bold;
          text-align: center;
}

.bgImage{
    background-image: url('./../../assets/images/cool-background.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
   // background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.blackBtn{
    background-color: black;
    color: #fff;
    border: none; 
    min-height: 40px;   
}

.greyBtn{
    background-color: darkorange;
    color: #fff;
    border: none; 
    min-height: 40px;
}

.fullWidth{
    width: 100%;
}

@media (max-width:960px){
    .mb-view{
        overflow-x: auto;
        flex-wrap: nowrap;
    }
   .blackBtn{
    font-size: 11px;
   }
    .greyBtn{
        font-size: 11px;
    }
    .bgImage{
        padding-top: 96px;
    }
    
}