.navBarContainer {
  width:100%;
  background-color: #fff;
//  height: 12vh;

}

.innerNavbar{
  max-width:90%;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding: 15px 10px 0px 10px;
}

.innerNavbar .logo{
  display: flex;
  align-items: center;
  justify-content: center;
}



.logo a{
  position: relative;
    top: -6px;
  text-decoration: none;
  color: #3f51b5;
          font-size: 40px;
          font-weight: bold;
      text-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
      
}

.navList ul {
  display:flex;
	align-items:center;
	justify-content:center;
}

.navList ul li {
	list-style-type:none;	
}

ul li a{
	color: black;
  font-family: fantasy;
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
	padding: 27px 10px;
	 transition: 0.3s all ease-in-out;
	cursor:pointer;
  letter-spacing: 1px;
}

ul li a:hover{
	color:#3f51b5;	
}


ul li .active{
	color: #ff5722;	
}

.cartIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
    top: -10px;
}

.cartIcons > div {
  margin-right: 10px;
  
}

.menuBtn{
  display: none;
}

.mob-nav{
  display: none;
}

@media screen and (max-width:960px){
  .navBarContainer {
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 9999;
    border-bottom: 2px solid darkorange;
    box-shadow: 15px 0px 10px -15px #111;
}
  .innerNavbar{
    max-width:95%;
    margin-top: 15px;
    margin-bottom: 6px;
  }
  .logo a{
    font-size: 20px;
  }
  .navList ul {
    display:none;  
  }
  .menuBtn{
    display: block;
    color: black;
  }

  .mob-nav{
		display:flex;
		justify-content: center;
		width: 16rem;
  background: #ff5722;
  height: 100vh;
  position: absolute;
  //top: 12vh;
  left: 0;
  transition: 0.3s all ease-in-out;
  padding-top: 30px;
  z-index: 9999;
	}
	
	.cartIcons > div {
    margin-right: 20px;
  }
	.mob-nav .mob-items {
  
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.2s all ease-out;
  
}

.mob-items li {
	list-style-type:none;	
	margin-top:40px;
}

.mob-items li a {
  color: #fff;
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
    padding:10px;
	 transition: 0.3s all ease-in-out;
	cursor:pointer;
  
}

.mob-items li a:hover{
	background: #fff;	
}
ul li .active{
	color:black;	
}
}