body{
  font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 10px
}

::-webkit-scrollbar-track {
  background:#fff ;
  border-radius: 0px
}

::-webkit-scrollbar-thumb {
  background:#3f51b5;
 
}
